Authlib
beautifulsoup4
db-dtypes
fpdf
fuzzywuzzy
gdown
google-adk
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-bigquery-storage
google-cloud-secret-manager
google-cloud-storage
google-genai
gspread
imagekitio<5
keepa
Levenshtein
litellm
lxml
matplotlib
matplotlib-inline
numpy
oauth2client
oauthlib
openai
openpyxl
pandas
pandas-gbq
pillow
plotly
pyarrow
pyotp
python-barcode
python-dotenv
python-Levenshtein
python-amazon-sp-api
pytz
requests
streamlit<1.53.0
streamlit-echarts==0.4.0
streamlit-oauth
streamlit-image-comparison
urllib3
XlsxWriter

git+https://github.com/misunders2d/helper-modules.git@master
git+https://github.com/misunders2d/amazon_sp.git@master
git+https://github.com/misunders2d/scheduled_reports.git@master
